body {
    font-family: 'Roboto Condensed', sans-serif;




}

.middle {
    font-size: 50px;
    text-align: center;
}

.para {
    text-align: justify;
    color: black;
    background-color: bisque;
}


.container {

    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(3px);
}

.header {
    color: aliceblue;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}




.link-button {
    display: inline-block;
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;

}



.second-section {
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    background-color: rgb(197, 164, 164);

}


.part-two {
    margin: 250px 250px 250px 250px;
    text-align: center;
}


.nothing {
    display: flex;

    margin-bottom: 100px;
}

#border {
    border: 7px solid orange;
    background-color: rgb(104, 93, 72);
}

.wrapper {
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 0px wheat;
    text-align: center;
    position: center;


}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;

}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15px;


}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;


}

p {
    font-size: 25px;
}

.third {
    display: flex;
    margin-bottom: 100px;
}

.part-third {
    margin: 80px 80px 80px 80px;
}

.third-section {


    height: 40vh;
    width: 33%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;


}

#bg {
    background-color: aqua;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    padding-top: 10%;
}

#bg1 {
    background-color: brown;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    padding-top: 10%;
}

#bg2 {
    background-color: darkgreen;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    padding-top: 10%;
}

#last {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

#last-part {
    text-align: center;
    background-color: black;
    height: 20vh;
    padding-top: 5%;

}

#done {
    color: #fff;
}